<h1>Login</h1>
<hr />
<div class="col-md-6">
    <form autocomplete="off"  #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" novalidate>
        <div class="form-group">
            <label for="userName">User Name : </label>
            <em *ngIf="loginForm.controls.userName?.invalid &&
                       (loginForm.controls.userName?.touched || mouseoverLogin)">Required</em>
            <input type="text" (ngModel)="userName" name="userName" class="form-control" id="userName"
                   placeholder="Username ..." required/>
        </div>
        <div class="form-group">
            <label for="password">Password : </label>
            <em *ngIf="loginForm.controls.password?.invalid
               && (loginForm.controls.password?.touched || mouseoverLogin)">Required</em>
            <input type="password" (ngModel)="password" name="password" required
                   class="form-control" id="password" placeholder="Password ..."/>
        </div>
        <span (mouseenter)="mouseoverLogin=true"   (mouseleave)="mouseoverLogin=false">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
        </span>
            <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </form>
</div>